<div class="animate__animated animate__fadeIn animate__faster">
  <h2>Por País</h2>
  <hr />
  <div class="row">
    <div class="col">
      <app-pais-input
        (onEnter)="buscar($event)"
        (onDebounce)="sugerencias($event)"
        placeholder="Buscar Pais..."
      >
      </app-pais-input>
      <ul class="list-group">
        <li class="list-group-item list-group-item-action" *ngFor="let sugerencia of paisesSugeridos">
          <a [routerLink]="['/pais', sugerencia.cca2]">{{sugerencia.name.common}}</a>
          
        </li>
        <li class="list-group-item list-group-item-action" 
          style="color: blue"
          (click) = "buscarSugerido(termino)"
          *ngIf="termino">
          Buscar "{{termino}}"
          
        </li>

      </ul>
      <div class="alert alert-danger" *ngIf="hayError">
        No se encontró ningún pais con el término {{ " " + termino }}
      </div>
      <app-pais-tabla [paises]="paises"></app-pais-tabla>
    </div>
  </div>
</div>
